body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

h1, h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-header {
  min-width: 1200px;
}

.logo {
  margin: 10px 0 0 22px;
  outline: 1px solid; 
}

.main-navigation {
  display: inline-block;
  vertical-align: top;
  margin: 33px 0 0 2.5%;
  outline: 1px solid;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

.user-block {
  float: right;  
  margin: 23px 27px 0 0;
  font-size: 0;
  outline: 1px solid;
}

.user-block form {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
}

.phone-number {
  clear: right;
  float: right;
  margin: 75px 27px 0 0;
  outline: 1px solid;
}

.phone-number div {
  text-align: right;
  color: #fff;
}

.phone-number div:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.phone-number div:last-child {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}

.container {
  width: 1145px;
  margin: 0 auto;
  outline: 1px solid;
}

.slider-radio {
  
}

.slider-promo {
  width: 700px;
  margin: 0 auto;
  outline: 1px solid;
}

.slider-promo-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  color: #fff; 
  
}

.slider-promo-btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  color: #fff;
  height: 63px;
  width: 279px;
  border-radius: 31.5px;
  background-image: linear-gradient(to bottom, #f26839, #db4c38);
}

.index-content {
  
}

.index-content:nth-child(2):after {
  content: "";
  display: table;
  clear: both;
}

.index-content-left, .index-content-right {
  width: 560px;
}

.index-content-left {
  float: left;
}

.index-content-right {
  float: right;
}

.raspberry {
  background: url(../img/raspberry-bg.png), #c9224a;
  color: #fff;
  
}

.chocolate {
  background: url(../img/chocolate-bg.png), #6c4638;
  color: #fff;
}

.hit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: 1px solid;
}

.hit-item {
  width: 267px;
}

.index-content:nth-child(4) {
  background: url(../img/waffle-bg.jpg), #e9dcc3;
}